@page "/accommodations"
@using Casus_Applicatie.Models
@using Microsoft.EntityFrameworkCore
@inject CasusDbContext DbContext
@inject AccommodationService AccommodationService 
<PageTitle>Accommodations</PageTitle>

<h1>Accommodations</h1>

@if (accommodations == null)
{
    <p><em>Loading...</em></p>
}
else if (!accommodations.Any())
{
    <p>No accommodations found.</p>
}
else
{
    
    
    <table class="table">
        <thead>
        <tr class="p-1">
            <th scope="col">#</th>
            <th scope="col">Naam</th>
            <th scope="col">Beschrijving</th>
            <th scope="col">Locatie</th>
            <th scope="col">Prijs</th> 
            <th scope="col">Acties</th> 
        </tr>
        </thead>
        <tbody>
        @foreach (var accommodation in accommodations)
        {
        <tr>
            <td>@accommodation.AccommodationId</td>
            <td>@accommodation.Name</td>
            <td>@accommodation.Description</td>
            <td>@accommodation.Location</td>
            <td>@accommodation.Price</td>
            <button type="button" class="btn btn-warning">Warning</button>
        </tr>
        }
        </tbody>
    </table>
    <ul>
    </ul>
}

@code {
    private List<Accommodation>? accommodations;

    protected override async Task OnInitializedAsync()
    {
        // Retrieve all accomodations from database
        accommodations = await DbContext.Accommodations.ToListAsync();
    }
    
}
}